#text {
  width: 100%;
  margin-top: 400px;
  margin-bottom: 50vh;
  justify-content: center;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;

}

h1 {
  color: #dadada;
  font-family: sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  padding-top: 2vh;
  padding-left: 1vw;
}

h2 {
  color: #dadada;
  font-family: sans-serif;
  font-size: 16;
  margin: 0px;
  padding: 0px;
  align-items: center;
  padding-bottom: 2vh;
  padding-left: 1vw;
  //hello
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: absolute; 
  right: 5vw;
}

p {
  margin: auto;
  font-family: sans-serif;
  width: 300px;
}

body {
  margin: 0px;
  background-color: #dadada;
}